<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">P.Final</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mapaAgente">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Mapa del agente
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mapaFecha">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Mapa por fecha
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ListadoMultas">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Multas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ListadoAgentes">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Agentes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ListadoCentrales">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Centrales
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ListadoConceptos">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Conceptos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AcercaDe">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Acerca De 
            </NavLink>
        </div>
    </nav>
</div>

